<div class="container-fluid">
    <div class="row" style="height: 100px;"></div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col" style="font-size: large;">
            <Span>Você nem precisava fazer Cquote2.svg
                Praticamente você poderia aprender com a sua avó.acredite
                Cquote1.svg Tudo que você precisa fazer é andar em um quarteirão a 5km/h Cquote2.svg
                e ainda tem aquela m#rda de instrutora que tira seus pontos por respirar
                Cquote1.svg e as questões de uma prova teórica, é como se você tivesse fazendo uma prova do 2° ano. Por que é fácil demais. Cquote2.svg {{c|Exemplo: quando você vê uma senhora passando na rua o que você faz? {{c|a)Paro na frente dela Cquote1.svg b)Paro em cima dela Cquote2.svg Cquote1.svg Eu já entrei como instrutor! Cquote2.svg
                Chuck Norris sobre Auto escola
                Cquote1.svg Fui Reprovado...5 vezes!!! Cquote2.svg
                Rubinho Barrichelo sobre Auto escola
                Cquote1.svg Para trocar de marcha é preciso pisar na embreagem... Cquote2.svg
                Instrutor de auto-escola (100% de paciência) sobre Erros comuns dos alunos
                Cquote1.svg Você não pode descansar o pé na embreagem, já te falei isso 156 vezes! Cquote2.svg
                Instrutor de auto-escola (75% de paciência) sobre Vício infernal dos alunos
                Cquote1.svg Solte o pedal da embreagem devag... Era pra soltar devagar!!! Cquote2.svg
                Instrutor de auto-escola (50% de paciência) sobre Aluno deixar o carro apagar
                Cquote1.svg Não era pra bater na baliza, poderia ser uma pessoa! Cquote2.svg
                Instrutor de auto-escola (25% de paciência) sobre Hora da baliza
                Cquote1.svg Mas se fosse uma pessoa ela teria saído da frente! Cquote2.svg
                Aluno da Auto-escola sobre Quebrar as 2 balizas</Span>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>



